---
import ScrollHeroAnimationV3 from './ScrollHeroAnimationV3.jsx'
---

<section id="hero"> 
  <ScrollHeroAnimationV3 path="/frames" maxFrames={100} containerHeight="300vh" client:load />  
</section>